@using MVCDemo.Models
@model IEnumerable<MVCDemo.Models.Employee>
@{
    ViewBag.Title = "Index";
}
<head>
    <style>
        .mydiv {
            background-color: crimson;
            padding: 5px 5px;
            width: 40px;
            border-radius: 15%;
            font-size: 20px;
            margin-left: 10px;
        }
    </style>
</head>

<!--<div class="mydiv">
    @Html.ActionLink("Back", "Index", "Department")
</div>-->

<h2><u>Employees List</u></h2>
<div style="font-family: Arial">
    <table>
        <thead>
            <tr id="tbl">
                <th>Employee Name</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <!--<ol>
        @foreach (Employee employee in Model)
        {
            <li>
                @Html.ActionLink(employee.Name, "Details", "Employee", new { id = employee.EmployeeId }, null)
            </li>
        }
    </ol>-->
</div>

@section Scripts{
    <script type="text/javascript">
        $.ajax({
            type: 'GET',
            url: '/Employee/Index',
            dataType: 'json',
            data: { departmentId: '1' },
            success: function (data) {
                debugger
                var items = '';
                $.each(data, function (i, item) {
                    var rows = "<tr>"
                        + "<td>" + item.Name + "</td>"
                        + "</tr>";
                    $('#tbl tbody').append(rows);
                });
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });
    </script>
}

